.I1 {
  width: 200px;
  border-radius: 10px; 
  margin: 8px;
  margin-right: 100px;
}

.I2 {
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin: 8px;
  object-position: center;
  margin-right: 100px;
}

.I3 {
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin: 8px;
  border-radius: 100px;
  object-position: center;
}

.a1 {
  color: white;
  margin-bottom: 100px;  
}

.T1 {
  font-size: large;
  padding: 13px 0px 13px 13px;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(141, 141, 141, 0.432);
  border-style: solid;
  margin-left: 8px;
  margin-right: 75px;
}

.T2 {
  font-size: medium;
  padding: 13px 280px 13px 15px;
  width: 210px;
  border-radius: 105px;
  border-style: none;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
}

.P1 {
  font-family: Arial;
  margin-left: 8px;
  color: rgb(107, 107, 107);
  margin-bottom: 5px;
}

.P2 {
  margin-left: 8px;
  padding-right: 160px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(107, 107, 107);
  border-radius: 4px;
  padding-top: 7px;
  margin-bottom: 2px;
}

.P3 {
  margin-left: 8px;
  font-family: Arial;
  color: rgb(107, 107, 107);
  font-stretch: condensed;
}

.B {
  margin-left: 8px;
  background-color: rgba(0, 77, 178, 0.886);
  color: white;
  font-size: medium;
  border-style: none;
  padding: 12px 117px 12px 117px;
  border-radius: 162.8px;
}

.T3 {
  margin-left: 8px;
  width: 50px;
  height: 50px;
  object-position: center;
  border-radius: 25px;
  vertical-align: middle;
}

.T4 {
  font-family: Arial;
  font-size: medium;
  border-style: none;
  margin-left: 5px;
  margin-right: 70px;
  vertical-align: middle;
}

.T5 {
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-style: none;
  border-radius: 23.35px;
}

.a2 {
  margin-top: 50px;
  color: white;
}